body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(gambar/geo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    padding: 20px; 
    margin: 0 auto; 
    max-width: 1200px;
}

.content-container {
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 20px;
    text-align: justify;
}

.image-container {
    margin-left: auto;
}

.gambar-kanan {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    margin-top: 20px;
}

.dark-mode .content-container {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
    padding: 8px 16px;
    height: auto;
    border-bottom: 4px solid #0003a7; 
}

.navbar-brand {
    font-size: 24px; 

.navbar-brand, .navbar-nav .nav-link {
    font-size: 1.25rem;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #333;
}

.dark-mode .btn {
    background-color: #333 !important;
    color: #fff !important;
}
